<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu Membre</title>
</head>

<body>
    <div th:replace="fragments/menu-membre :: menu"></div>

    <h1>Menu Membre</h1>
    <ul>
        <li><a th:href="@{/membre/livres}">Liste des livres</a></li>
        <li><a th:href="@{/membre/prets}">Mes prêts</a></li>
        <li><a th:href="@{/membre/reservations}">Mes réservations</a></li>
        <li><a th:href="@{/membre/penalites}">Mes pénalités</a></li>
    </ul>
</body>

</html>